$body-bg: #e5e5e5;
$primary: #3DA69F;
$secondary: #8392ab;
$success: #54C58F;
$info: #6951CA;
$warning: #eab222;
$danger: #CA51A8;
$light: #CFD8DC;
$dark: #1E3E50;
$grey: #356570;
$white: #ffffff;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "white": $white,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
